body {padding-top: 0px;}
.well-sm {
	background-color: #2b2b2b;
	border: 1px solid #313131;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}
.form-control {height: 28px !important;}
textarea.form-control {height: auto !important;}
div.col-md-8.label {font-weight: normal;}
.navbar-header {padding-top: 12px;}
section.oe_slides_promote_box {
	background-color: #2b2b2b !important;
	border: 1px solid #313131 !important;
}
.badge{position: relative; background-color: #2b2b2b}
.navbar{box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);}